<!-- START: src/template/pic.j2.html -->
{% extends "base.j2.html" %}

{% block title %}{{ pic.key.name }} - {{ collection }} Gallery{% endblock %}

{% block content %}
<div class="container mx-auto py-8 px-4">
  <nav class="pic-nav flex justify-between py-4">
    {% if prev %}
    <a rel="prev" href="{{ prev.key.name }}.html">Previous</a>
    {% else %}
    <span></span>
    {% endif %}
    <a href="../index.html">Back to gallery</a>
    {% if next %}
    <a rel="next" href="{{ next.key.name }}.html">Next</a>
    {% else %}
    <span></span>
    {% endif %}
  </nav>
  <figure class="pic-display">
    <img
      src="{{ root }}/{{ href(collection, pic.display) }}"
      alt="{{ collection }} {{ pic.key.name }}"
      class="mx-auto max-h-screen"
    />
  </figure>
  <div class="pic-links flex justify-center space-x-6 py-4">
    <a class="pic-original" href="{{ root }}/{{ href(collection, pic.original) }}">View original</a>
    <a class="pic-download" href="{{ root }}/{{ href(collection, pic.original) }}" download>Download</a>
  </div>
</div>
{% endblock %}
<!-- END: src/template/pic.j2.html -->
